#body{
    size: 12px;
    padding: auto;
    margin: auto;

}
#container{
    height: 800px;
    width: 800px;
    background: white;
    margin: auto;


}
#container #header{
    height: 10px;
    text-align: center;
    font-size: 22px;
    padding: 50px;
}
#container #menu{
    height: 50px;
    background: darkgray;
    padding-top: 20px;

}
#container #menu a{
    color: white;
    padding-top: 10px;
    padding-left: 70px;
    float: left;
    clear: right;
}

#container #content{
    height: 29px;
    padding-top: 20px;
    padding-left: 50px;

}
#container #content>a {
    color: tan ;
    font-size: 20px;
    padding-left: 20px;
    float: left;
    clear: right;
}
#container #content2{
    height: 100px;
    padding-top: 20px;
    padding-left: 50px;
}

#content2 a {
    color: steelblue ;
    font-size: 20px;
    padding-left: 20px;
    float: left;


}
/*#container #requirement{*/
/*    height: 20px;*/
/*    width: 200px;*/
/*}*/
/*#container #design{*/
/*    height: 20px;*/
/*    width: 200px;*/
/*}*/
/*#container #implement{*/
/*    height: 20px;*/
/*    width: 200px;*/
/*}*/
.content{
    padding-left: 80px;
}